@using NoDIExample.DataLayer.Entities
@{
    ViewData["Title"] = "Home Page";
}

<h2>Featured Products</h2>

<div>
    @{
        var products = (IEnumerable<Products>)this.ViewData["Products"]!;

        foreach (Products product in products)
        {
            <div>@product.Name (@product.UnitPrice.ToString("C"))</div>
        }
    }
</div>
